:root {
    --gray: #5A5A66;
    --cambridge: #A4C2A8;
    --green: #ACEB98;
    --text-color: #FFFFFF;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--gray);
    color: var(--text-color);
  }

  h2{
    text-align: center;
    margin: 0;
  }

  p{
    margin: 0;
  }

  .hidden {
    display: none;
  }
  
  .navbar {
    display: flex;
    background-color: #333;
    overflow: hidden;
  }
  
  .navbar a {
    flex: 1;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
  }
  
  .navbar a:hover {
    background-color: var(--green);
    color: black;
  }

  .nav-link {
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    transition: background 0.3s, color 0.3s;
  }
  
  .nav-link.active {
    background: var(--green); /* Color de fondo para el tab activo */
    color: black;
    border-radius: 5px;
    font-weight: bold;
  }
  
  
  .container {
    padding: 20px;
    padding-top: 0px;
    background-color: var(--gray);
  }
  
  .main-content {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se reorganicen en pantallas pequeñas */
  }
  
  .left-column {
    flex: 1;
    max-width: 40%; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 20px;
  }
  
  .right-column {
    flex: 2;
    max-width: 60%; 
    display: flex;
    flex-direction: column;
  }
  
  .steps-container {
    width: 100%; /* Ocupa el 100% del ancho */
    margin-top: 20px;
    padding: 5px;
    background-color: var(--cambridge);
    border: 1px solid var(--green);
    border-radius: 15px;
    text-align: left;
  }
  
  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 20px;
    background-color: var(--green);
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: var(--cambridge);
  }
  
  .chart-container {
    background-color: var(--cambridge);
    padding: 15px;
    border: 1px solid var(--green);
  }
  
  .steps-container h2 {
    margin-top: 0;
    padding: 0;
    color: var(--text-color);
    text-align: center;
  }
  
  #steps {
    font-family: Arial, sans-serif;
    color: var(--text-color);
    line-height: 1.6; /* Mejorar la legibilidad */
    text-align: left; /* Alinear texto a la izquierda */
  }
  
  .math {
    margin-bottom: 10px; /* Espacio reducido entre pasos */
    white-space: normal; /* Evitar espacios innecesarios */
  }

.table-container {
  margin-top: 20px;
  background-color: var(--cambridge);
  padding: 15px;
  border: 1px solid var(--green);
  border-radius: 15px;
  overflow-x: auto; /* Scroll horizontal si es necesario */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th, table td {
  padding: 10px;
  border: 1px solid var(--green);
  text-align: center;
}

table th {
  background-color: var(--green);
  color: black;
}

table td {
  background-color: var(--cambridge);
  color: var(--text-color);
}